#grid {
    max-width: 1000px;
}

.square {
    width: 100px;
    height: 100px;
    line-height: 100px;
}

.square-2 {
    width: calc(1000px / 9);
    height: calc(1000px / 9);
    line-height: calc(1000px / 9);
}

.square-3 {
    width: calc(1000px / 7);
    height: calc(1000px / 7);
    line-height: calc(1000px / 7);
}